---
import Section from "../Section.astro";
---

<Section title="Certifications">
  <div class="center">
    <a href="/sw6CertifiedDeveloper_Emma Wirt.pdf" target="_blank">
      <img
        width="400"
        height="100"
        alt="Shopware 6 Certified Developer"
        src="/shopware6_certified_developer.svg"
      />
    </a>
  </div>
</Section>
