---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Emma The Possum";
---

<Layout pageTitle={pageTitle}>
  <div class="gif">
    <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp" />
  </div>
  <h1>EmmaThePossum</h1>
  <span class="badge">Full Stack Developer</span>
  <h2>About</h2>
  <p>
    Greetings Traveler! I'm a full-stack web developer with a passion for
    building seamless, efficient applications and a growing interest in DevOps.
    Since 2017, I've mainly worked in the e-commerce sector, diving deep into
    the backend with over six years of PHP experience, and adding JavaScript and
    TypeScript to my toolkit over the last three years. Throughout my journey,
    I've worked on over 10 different online shops, creating custom solutions
    like product export tools for price comparison sites and ERP systems, as
    well as connecting Magento with Amazon and eBay. I've also had a blast
    working on full-stack apps, including digitizing paper job listings and
    developing an AI tool for SEO meta tag generation. Lately, I've been flexing
    my DevOps muscles, fine-tuning server infrastructures, migrating between
    cloud providers, and Dockerizing applications. I'm also big on streamlining
    workflows and have designed CI/CD pipelines with GitHub Actions to keep
    things running smoothly.
  </p>
  <div class="center">
    <a href="/works/">
      <button class="btn">My portfolio</button>
    </a>
  </div>
  <h2>Skills</h2>
  <div class="skills center">
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="PHP"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-original.svg"
    />

    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Laravel"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/laravel/laravel-original.svg"
    />

    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Symfony"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/symfony/symfony-original.svg"
    />

    <img
      class="skills__img"
      width="46"
      height="46"
      alt="React"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
    />

    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Next.js"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original.svg"
    />

    <img
      class="skills__img"
      width="46"
      height="46"
      alt="JavaScript"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="TypeScript"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
    />

    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Vue.js"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vuejs/vuejs-original.svg"
    />

    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Svelte"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/svelte/svelte-original.svg"
    />

    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Astro"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg"
    />

    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Tailwind CSS"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"
    />

    <img
      class="skills__img"
      height="45"
      height="46"
      alt="Shopware"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/shopware/shopware-original.svg"
    />

    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Magento"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/magento/magento-original.svg"
    />

    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Docker"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"
    />

    <img
      class="skills__img"
      width="46"
      height="46"
      alt="VSCode"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vscode/vscode-original.svg"
    />

    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Bootstrap"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"
    />

    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Git"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
    />
  </div>
  <h2>Interests</h2>
  <p>
    When I'm not coding, you can find me enjoying a few of my favorite things:
    tinkering with Linux, gaming (on linux ofc), and spending quality time with
    my dog, Snow, who insists on being the real boss around here. Life’s better
    with a good mix of tech and tail wags!
  </p>
  <div>
    <img width="100%" class="card__img" alt="My Dog Snow" src="/snow.jpeg" />
  </div>
</Layout>
