---

---

<div class="skills__block">
  <h3>PHP</h3>

  <img
    class="skills__img"
    width="46"
    height="46"
    alt="Laravel"
    title="Laravel"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/laravel/laravel-original.svg"
  />

  <img
    class="skills__img"
    width="46"
    height="46"
    alt="Symfony"
    title="Symfony"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/symfony/symfony-original.svg"
  />

  <img
    class="skills__img"
    width="46"
    height="46"
    alt="Zend"
    title="Zend"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/zend/zend-original.svg"
  />

  <img
    class="skills__img"
    height="45"
    height="46"
    alt="Shopware"
    title="Shopware"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/shopware/shopware-original.svg"
  />

  <img
    class="skills__img"
    width="46"
    height="46"
    alt="Magento"
    title="Magento"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/magento/magento-original.svg"
  />

  <img
    class="skills__img"
    width="46"
    height="46"
    alt="Wordpress"
    title="Wordpress"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/wordpress/wordpress-plain.svg"
  />
</div>

<div class="skills__block">
  <h3>JavaScript</h3>

  <img
    class="skills__img"
    width="46"
    height="46"
    alt="TypeScript"
    title="TypeScript"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
  />

  <img
    class="skills__img"
    width="46"
    height="46"
    alt="React"
    title="React"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
  />

  <img
    class="skills__img"
    width="46"
    height="46"
    alt="Next.js"
    title="Next.js"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original.svg"
  />

  <img
    class="skills__img"
    width="46"
    height="46"
    alt="Vue.js"
    title="Vue.js"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vuejs/vuejs-original.svg"
  />

  <img
    class="skills__img"
    width="46"
    height="46"
    alt="Astro"
    title="Astro"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg"
  />

  <img
    class="skills__img"
    width="46"
    height="46"
    alt="Bun"
    title="Bun"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bun/bun-original.svg"
  />
</div>

<div class="skills__block">
  <h3>CSS</h3>
  <img
    class="skills__img"
    width="46"
    height="46"
    alt="Tailwind CSS"
    title="Tailwind CSS"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"
  />

  <img
    class="skills__img"
    width="46"
    height="46"
    alt="Bootstrap"
    title="Bootstrap"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"
  />

  <img
    class="skills__img"
    width="46"
    height="46"
    alt="SASS"
    title="SASS"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sass/sass-original.svg"
  />
</div>

<div class="skills__block">
  <h3>Platform</h3>

  <img
    class="skills__img"
    width="46"
    height="46"
    alt="Docker"
    title="Docker"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"
  />

  <img
    class="skills__img"
    width="46"
    height="46"
    alt="VSCode"
    title="VSCode"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vscode/vscode-original.svg"
  />

  <img
    class="skills__img"
    width="46"
    height="46"
    alt="Git"
    title="Git"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
  />

  <img
    class="skills__img"
    width="46"
    height="46"
    alt="AWS"
    title="AWS"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-plain-wordmark.svg"
  />

  <img
    class="skills__img"
    width="46"
    height="46"
    alt="Netlify"
    title="Netlify"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/netlify/netlify-original.svg"
  />

  <img
    class="skills__img"
    width="46"
    height="46"
    alt="Fedora"
    title="Fedora"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/fedora/fedora-original.svg"
  />

  <img
    class="skills__img"
    width="46"
    height="46"
    alt="Debian"
    title="Debian"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/debian/debian-original.svg"
  />

  <img
    class="skills__img"
    width="46"
    height="46"
    alt="Apple"
    title="Apple"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/apple/apple-original.svg"
  />
</div>
